

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/assets/styles/loginPage.css">
</head>

<body class="d-flex flex-column text-center">
    <header include-one="../header/header.html"></header>
    <main class="">
        <div class="d-flex justify-content-evenly">
            <div id="big-logo" class="col-12 col-md-6 p-4">
                <img class="img-fluid rounded" src="/public/img/login_banner.png" class="rounded" alt="Lazada">
            </div>
            <div id="login-side"
                class="col-12 col-md-6 d-flex flex-column p-4 justify-content-center align-items-center">
                <form class="col-8">
                    <div id="login-box" class="d-flex flex-column p-4 border">
                        <div id="page-name" class="text-center">
                            <p class="fs-2 fw-bold fst-italic">Shop 3.14</p>
                        </div>
                        <label class="form-label text-start mt-2" for="username">Username</label>
                        <input id="username" type="text" class="form-control" placeholder="Enter username"
                            class="d-flex flex-column text-center">
                        <label class="form-label text-start mt-2" for="password">Password</label>
                        <input id="password" type="password" class="form-control">
                    </div>
                    <div id="register-box" class="pe-4 ps-4 pt-2 border mt-2">
                        <p>You don't have account?
                            <a href="../registerPage/customerRegister.html">Register now</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
<script src="../../assets/scripts/includePage.js"></script>


</html>