<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Page</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/assets/styles/cartPage.css">
</head>

<p class="text-center">This is cart page</p>

<body>
    <header>This is a header</header>
    
        <div class="row m-0 p-0"> 
            <div class="nav-bar col-2">
                <a href="../mainPage/mainPage.html">
                    <button>Home</button>
                </a>

                <a href="../customerPage/customerPage.html">
                    <button>My Account</button>
                </a>

                <a href="../loginPage/loginPage.html">
                    <button>Log Out</button>
                </a>
            </div>       
            <div class="col cart text-center">
                <div class="row cart-row">
                    <div class="col cart-col ">
                        <h1>Image</h1>
                        <img class="product-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5hkI16Hp6ifO-sdUq6JXC2ao0FbY4nPuVs7FcY8wVkhvOWABol4yZHxOveFZVVE3mR7E&usqp=CAU" alt="product-img">
                    </div>
                    <div class="col cart-col ">
                        <h1>Name</h1>
                        <p>TV 32-inch</p>
                        
                    </div>
                    <div class="col cart-col ">
                        <h1>Price</h1>
                        <p>200$</p>
                    </div>
                    <div class="col cart-col-btn ">
                        <h1>Quantity</h1>
                        
                    </div>
                </div>  
                
                <div class="row cart-row">
                    <div class="col cart-col ">
                        <h1>Image</h1>
                        <img class="product-pic img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5hkI16Hp6ifO-sdUq6JXC2ao0FbY4nPuVs7FcY8wVkhvOWABol4yZHxOveFZVVE3mR7E&usqp=CAU" alt="product-img">
                    </div>
                    <div class="col cart-col ">
                        <h1>Name</h1>
                        <p>TV 32-inch</p>
                        
                    </div>
                    <div class="col cart-col ">
                        <h1>Price</h1>
                        <p>200$</p>
                    </div>
                    <div class="col cart-col ">
                        <h1>Quantity</h1>
                    </div>
                </div> 
                
                <div class="row cart-row">
                    <div class="col cart-col ">
                        <h1>Image</h1>
                        <img class="product-pic img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5hkI16Hp6ifO-sdUq6JXC2ao0FbY4nPuVs7FcY8wVkhvOWABol4yZHxOveFZVVE3mR7E&usqp=CAU" alt="product-img">
                    </div>
                    <div class="col cart-col ">
                        <h1>Name</h1>
                        <p>TV 32-inch</p>
                        
                    </div>
                    <div class="col cart-col ">
                        <h1>Price</h1>
                        <p>200$</p>
                    </div>
                    <div class="col cart-col ">
                        <h1>Quantity</h1>
                    </div>
                </div>

                

            </div>
        </div>
        
   
    

    <footer>This is a footer</footer>
</body>

<script src="/src/assets/scripts/cartPage.js"></script>

</html>