<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/assets/styles/footer.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
</head>

<body>
    <footer>
        <h2 class="text-center w-100 fs-2 m-0">
            All-in-cart
        </h2>
        <div class="d-flex justify-items-center text-center">
            <ul class="col-3 list-group footer-link">
                <li class="list-group-item fs-4">About</li>
                <li class="list-group-item">Development team</li>
                <li class="list-group-item">Products and Providers</li>
                <li class="list-group-item">Careers</li>
                <li class="list-group-item">Stores</li>
                <li class="list-group-item">Company</li>
            </ul>
            <ul class="col-3 list-group footer-link">
                <li class="list-group-item fs-4">Home</li>
                <li class="list-group-item">News</li>
                <li class="list-group-item">Hot deals</li>
                <li class="list-group-item">Pricing</li>
            </ul>
            <ul class="col-3 list-group footer-link">
                <li class="list-group-item fs-4">Privacy</li>
                <li class="list-group-item">Terms of users</li>
                <li class="list-group-item">Registration policy</li>
                <li class="list-group-item">Licenses</li>
                <li class="list-group-item">Third-party policy</li>
            </ul>
            <ul class="col-3 list-group footer-link">
                <li class="list-group-item fs-4">Help</li>
                <li class="list-group-item">Support</li>
                <li class="list-group-item">Contact</li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-md navbar-light d-flex space-between px-lg-4">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav fs-5">
                    <li class="nav-item">
                        <a class="nav-link text-light px-3" href="#"><img class="icon" src="/public/img/facebook.png"
                                alt="facebook"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light px-3" href="#"><img class="icon" src="/public/img/twitter.png"
                                alt="facebook"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light px-3" href="#"><img class="icon" src="/public/img/instagram.png"
                                alt="facebook"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light px-3" href="#"><img class="icon" src="/public/img/linkedin.png"
                                alt="facebook"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
</body>

</html>