/* .page {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1 1 0;
    padding: 2rem;
}

.title {
    margin: 80px auto;
    border-bottom: 5px solid red;
    font-size: 20px;
}

.cart-container {
    margin: 80px auto;
}

.cart-container table tr {
    border: 1px solid rgb(183, 159, 163);
}

.item-table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0 2em;
    border: 1px solid black;
}

td {
    height: 20vh;
    margin-bottom: 10vh;
}

.item-row {
    border: 1px solid black;
}

main img {
    aspect-ratio: 1;
    height: 100%;
    object-fit: cover;
    padding: 20px;
}

th,
td {
    text-align: center;
    padding: 10px;
}

.input {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.quantity {
    margin: 20px;
    text-decoration: none;
    color: black;
}

.remove {
    margin-top: 20px;
    background-color: crimson;
    width: 80px;
    color: white;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.sidebar {
    flex: 1 1 0;
    max-width: 500px;
    height: 30vh;
    padding: 2rem, 1rem;
    background-color: #dce3e49c;
    justify-content: center;
    margin-top: 25vh;
    overflow: auto;
    border: 1px solid pink;
}

.cart-details {
    max-height: 2vh;
}


.details-table {
    height: auto;
}

@media (max-width: 1024px) {
    .sidebar {
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        max-width: 100px;
    }
} */
body {
    /* background-color: #f0f0f0; */
    background-color: red;
    font-family: 'Roboto', sans-serif;
}