.profile-pic-div{    
    margin: 50px 0 0 50px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%; 
    aspect-ratio: 1; 
    border: 3px solid #FF4040;    
}

#photo {
    width: 100%;
    flex-shrink: 0;
}

.change-ava-btn{
    position:absolute; 
    bottom: 7.5%; 
    right: 7.5%;
    aspect-ratio: 1;
    width: 15%;     
    border: 2px solid #4d4d4d; 
}

.image-upload > input {
    visibility:hidden;
    width:0;
    height:0
}

.info{
    padding-left: 10%;
    line-height: 10px;
    color: #f98181;    
}

.info p{  
    background-color: #ededed; 
    width: 70%;
    border-radius: 10px; 
    color:black;
    padding: 20px 0 40px 10px;       
}

.edit-button{    
    width: 3%;
    aspect-ratio: 1;    
}

.button-container{
    font-size:larger;
    color: #f98181; 
}
