.banner {
    height: 400px;
}

.main-banner {
    height: 100%;
}

.sub-banner {
    height: 100%;
}

.sub-banner div {
    height: 45%;
}

@media only screen and (max-width: 991.98px) {
    .banner {
        height: 300px;
    }
}

@media only screen and (max-width: 767.98px) {
    .banner {
        height: 500px;
    }

    .main-banner {
        height: 60%;
    }

    .sub-banner {
        height: 150px;
    }

    .sub-banner div {
        width: 48%;
        height: 100%;
    }
}

@media only screen and (max-width: 575.98px) {
    .banner {
        height: 400px;
    }

    .main-banner {
        height: 50%;
    }

    .sub-banner {
        height: 100px;
    }

    .sub-banner div {
        width: 48%;
        height: 100%;
    }
}