<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Customer Page</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/assets/styles/editCustomerPage.css">
</head>

<p class="text-center">This is edit customer page</p>

<body>
    <header>This is a header</header>

    <form name="edit-profile" class="text-center" id="edit-profile-form" method="post" action="edit_profile.php">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Submit">
    </form>

    <footer>This is a footer</footer>
</body>

<script src="/src/assets/scripts/editCustomerPage.js"></script>

</html>