<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help Page</title>
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    </head>

<body>
    <div id="register-box" class="d-flex flex-column m-2 p-4 border text-center bg-light">
        <div id="page-name" class="text-center">
            <p class="fs-1 fw-bold fst-italic">Inquiry form</p>
        </div>
        <form onsubmit="return false;" method="post" enctype="multipart/form-data" class="d-flex flex-column">
            <div id="account-type" class="d-flex flex-row p-2">
                <div class="col-2">
                    <label class="form-label me-4">Purpose of inquiry: </label>
                </div>
                <div class="">
                    <select name="purpose" id="purpose">
                        <option value="">Please select</option>
                        <option value="Business">Business</option>
                        <option value="Personal">Personal</option>
                    </select>
                </div>
            </div>
            <div name="inputbox" class="d-flex flex-row p-2">
                <div class="col-2">
                    <label class="form-label" for="name">Name:</label>
                </div>
                <div class="col-8">
                    <input name="name" id="name" type="text" class="form-control" placeholder="Your name here" required>
                </div>
            </div>
            <div name="inputbox" class="d-flex flex-row p-2">
                <div class="col-2">
                    <label class="form-label" for="email">Name:</label>
                </div>
                <div class="col-8">
                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email here" required>
                </div>
            </div>
            <div name="inputbox" class="d-flex flex-row p-2">
                <div class="col-2">
                    <label class="form-label" for="phone">Phone number:</label>
                </div>
                <div class="col-8">
                    <input name="phone" id="phone" type="number" class="form-control" step="1" placeholder="Your phone here" required>
                </div>
            </div>
            <div name="inputbox" class="d-flex flex-row p-2">
                <div class="col-2">
                    <label class="form-label me-4" for="avt">Attachment: </label>
                </div>
                <div class="col-8">
                    <input name="file" id="file" type="file" class="form-control">
                </div>
            </div>
            <div name="inputbox" class="d-flex flex-row p-2">
                <div class="col-2">
                    <label class="form-label" for="name">Issue description:</label>
                </div>
                <div class="col-8">
                    <textarea name="message" id="message" type="text" class="form-control" rows=4 cols=40 wrap="soft"
                    placeholder="Please enter your problem(s)" required></textarea>
                </div>
            </div>
            <div class="p-2">
                <input type="submit" name="submit_button" value="Send inquiry">
                <input type="reset" name="reset_button" value="Clear filled data">
            <div class="p-2">
        </form>
    </div>
</body>

</html>