<!--
    Lazada Group,"About",https://www.lazada.vn,https://group.lazada.com/en/about/?spm=a2o4n.tm80177959.footer_top.7.7e79xOqVxOqVD2(accessed September. 3, 2022).
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column justify-content-center">
    <div class="d-flex flex-column m-2 p-4 justify-content-center">
        <div class="text-center">
            <h1 class="fs-1 fw-bold fst-italic text-justify">Lazada Group</h1>
        </div>
        <div class="col-11 m-2 text-center">
            <p class="text-justify">
                Founded in 2012, Lazada Group is Southeast Asia's leading eCommerce platform. With a presence in six countries - Indonesia, Malaysia, the Philippines, Singapore, Thailand and Vietnam – we connect this vast and diverse region through our technology, logistics and payments capabilities. Today, we have the largest selection of brands and sellers, and by 2030, we aim to serve 300 million customers. In 2016, Lazada became the regional flagship of the Alibaba Group, and is backed by Alibaba’s best-in-class technology infrastructure.
            </p>
        </div>
        <div class="col-11 m-2 text-center">
            <p class="text-justify">
                Lazada's Marketplace gives retailers instant access to millions of new customers. Launched on the Lazada platform in 2013, Lazada Marketplace provides a full suite of services, from secure payment options and customer care support, to a wide distribution network and marketing analytics, aimed at enabling our sellers to sell more. Lazada Marketplace merchants sell a wide range of products across 18 categories, including fast-growing offerings in health & beauty and fashion, as well as home & living, mother & baby, mobile devices and home appliances, among others.
            </p>
        </div>
        <div class="col-11 m-2 text-center">
            <p class="text-justify">
                With a mission to bring the world to Southeast Asia and provide a gateway for Southeast Asian brands to reach international consumers, Lazada’s cross-border business features homegrown brands and sellers from markets that include China, Hong Kong SAR, Korea, Japan, the United States, and Europe. Through our Global Collection channel, Lazada offers a wide assortment of products across various categories, including fashion, electronics, and sports and outdoors. Alibaba’s technology infrastructure and unrivalled logistics network gets purchases to customers within seven days of placing an order.
            </p>
        </div>
    </div>