<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Page</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/assets/styles/customerPage.css">
</head>

<body>
    <header include-one="../header/header.html"></header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="profile-pic-div"></div>
                <img class="img-responsive img-fluid"
                    src="https://media.istockphoto.com/vectors/user-icon-people-icon-isolated-on-white-background-vector-vector-id1210939712?k=20&m=1210939712&s=612x612&w=0&h=xJqEPQnMiNofprbLXWdEtJQ75QL79lQ5N76J4JOdTIM="
                    alt="profile pic" id="photo">
                <input type="file" id="file"> <!-- Implemented later  -->
                <label for="file" id="uploadBtn">Change your profile picture</label>
            </div>
            <div class="col">
                <div class="text-end">
                    <a href="../mainPage/mainPage.html">
                        <button type="button" class="btn btn-danger">Home</button>
                    </a>

                    <a href="../loginPage/loginPage.html">
                        <button type="button" class="btn btn-danger">Log out</button>
                    </a>
                </div>

                <p class="text-center">Name: this is a name</p>
                <p class="text-center">Info: this is extra info</p>
                <p class="text-center">Info: this is extra info</p>
                <p class="text-center">Info: this is extra info</p>
            </div>
        </div>
    </div>

    <footer include-one="../footer/footer.html"></footer>
</body>
<link rel="stylesheet" href="/src/assets/scripts/customerPage.js">
<script src="../../assets/scripts/includePage.js"></script>

</html>